<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		#foo {
			width : 800px;
			height : 600px;
			background : red;
			-webkit-clip-path : url(#svgPath);
			clip-path : url(#svgPath);
		}
	</style>
</head>
<body>
<svg height="0" width="0">
	<defs>
		<clipPath id="svgPath">
			<path fill="none"
						stroke="#f7c562"
						stroke-width="1"
						d="" />
		</clipPath>
	</defs>
</svg>

<div id='foo'></div>
<a href='object-bounding-box.html'>clip path example with object bounding box space</a>

</body>
</html>